<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/lib/js/jquery-1.11.1.min.js" defer></script>
    <script src="~/lib/js/bootstrap.min.js" defer></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <title>Admin</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
